* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.primary-btn{
  background-color: #24335A;
  padding: 11px 1rem;
  font-size: 1rem;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 7px;
}
.primary-btn:hover{
  background-color: #00237a;
}