* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::selection {
  background-color: #ff7500;
  color: #0762a9;
}
body{
  width: 100vw;
}
.primary-btn {
  background-color: #24335a;
  padding: 11px 1rem;
  font-size: 1rem;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 7px;
}
.primary-btn:hover {
  background-color: #00237a;
}
