@mixin tablet {
  @media (max-width: 1023px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

.home-carousel {
  position: relative;
  height: 600px;
  top: 10px;
  @include tablet {
    height: 100vh;
  }
  main {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .hero-overlap {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      color: #fff;
      height: 100%;
      @include tablet{
        justify-content: space-between;
        padding: 2rem 0rem;
      }
      @include mobile{
        padding: 1rem 0rem;
        justify-content: space-between;
      }
      .input {
        width: 100%;
        font-size: 1rem;
        background-color: #fff;
        input {
          padding: 0.7rem;
        }
      }

      .hero-overlap-up {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 1rem;
        padding: 0 7px;
        @include tablet {
          flex-direction: column;
        }
        .left-hero-overlap-up {
          height: auto;
          width: 50%;
          display: flex;
          flex-direction: column;
          gap: 2rem;
          div {
            text-align: left;
            h1 {
              @include tablet {
                font-size: 2rem;
                text-align: center;
              }
            }
            @include tablet {
              text-align: center;
            }
          }
          @include tablet {
            width: 90%;
            text-align: center !important;
          }
          justify-content: space-between;
          h1 {
            font-size: 3rem;
            line-height: 3rem;
            text-align: left;
            @include mobile{
              line-height: 2.2rem;
            }
          }
        }
        .carasoul-main {
          color: #000000;
          width: 550px;
          height: auto;
          border-radius: 7px;
          border: 3px solid #fff;
          overflow: hidden;
          background-color: #fff;
          @include tablet {
            width: 700px;
            box-shadow: 0 0 8px #d3d3d3;
          }
          @include mobile{
            width: 97vw;
          }
          .slick-slider {
            .slick-dots {
              bottom: 30px;
            }
            .custom-arrow-next {
              position: absolute;
              z-index: 60;
              bottom: 30px;
              border: 3px solid #fff;
              border-radius: 50%;
              top: 50%;
              transform: translateY(-50%);
              width: 30px;
              height: 30px;
              display: grid;
              place-items: center;
              right: 20px;
              cursor: pointer;
              background-color: #fff;
              transition: all 0.3s ease;
              &:hover {
                transition: all 0.3s ease;
                scale: 1.1;
              }
            }
            .custom-arrow-prev {
              position: absolute;
              z-index: 1;
              bottom: 30px;
              left: 20px;
              top: 50%;
              transform: translateY(-50%);
              border: 3px solid #fff;
              border-radius: 50%;
              width: 30px;
              height: 30px;
              display: grid;
              place-items: center;
              cursor: pointer;
              background-color: #fff;
              transition: all 0.3s ease;
              &:hover {
                transition: all 0.3s ease;
                scale: 1.1;
              }
            }
          }
        }
      }
    }
  }
  img {
    z-index: 1;
    object-fit: cover;
  }
  article {
    position: relative;
    .home-carousel-overlay {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 0;
      background-color: rgba($color: #000000, $alpha: 0.5);
    }
    // main {
    //   top: 0;
    //   left: 0;
    //   bottom: 0;
    //   right: 0;
    //   position: absolute;
    //   display: flex;
    //   justify-content: center;
    //   flex-direction: column;
    //   align-items: center;
    //   z-index: 1;
    //   color: #fff;
    // }
  }
  // .slick-slider {
  //   .custom-arrow-next {
  //     position: absolute;
  //     z-index: 1;
  //     bottom: 30px;
  //     border: 3px solid #fff;
  //     border-radius: 50%;
  //     width: 50px;
  //     height: 50px;
  //     display: grid;
  //     place-items: center;
  //     right: 30px;
  //     cursor: pointer;
  //     background-color: #fff;
  //     transition: all 0.3s ease;
  //     &:hover {
  //       transition: all 0.3s ease;
  //       scale: 1.1;
  //     }
  //   }
  //   .custom-arrow-prev {
  //     position: absolute;
  //     z-index: 1;
  //     bottom: 30px;
  //     right: 100px;
  //     border: 3px solid #fff;
  //     border-radius: 50%;
  //     width: 50px;
  //     height: 50px;
  //     display: grid;
  //     place-items: center;
  //     cursor: pointer;
  //     background-color: #fff;
  //     transition: all 0.3s ease;
  //     &:hover {
  //       transition: all 0.3s ease;
  //       scale: 1.1;
  //     }
  //   }
  // }
}
