$primary-color: #0762a9;
$secondary-color: #47a767;

@mixin tablet {
  @media (max-width: 1023px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

.bigNav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 4px #d3d3d3;
  position: sticky;
  top: 0;
  z-index: 100;
  @include mobile {
    width: 100vw;
    padding: 10px 2rem;
    justify-content: space-between;
  }
  @include tablet {
    width: 100vw;
    padding: 10px 2rem;
    justify-content: space-between;
  }
  img {
    width: 170px;
  }

  .navlist {
    padding: 1rem 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    @include tablet {
      display: none;
    }
    li {
      a {
        display: flex;
        align-items: center;
        color: #243363;
        gap: 3px;
        text-decoration: none;
        padding: 9px 1rem;
        font-weight: 700;
        transition: all 0.1s ease;
        cursor: pointer;
      }
      p {
        display: flex;
        align-items: center;
        color: #243363;
        gap: 3px;
        text-decoration: none;
        padding: 7px 1rem;
        font-weight: 700;
        transition: all 0.1s ease;
        cursor: pointer;
      }
      &:hover {
        background-color: #e3e8f4;
        border-radius: 7px;
      }
    }
  }
  .contact-btn {
    @include tablet {
      display: none;
    }
  }
  .nav-hamburger {
    display: none;
    @include tablet {
      display: block;
    }
  }
  .active {
    border-bottom: 1px solid $primary-color;
  }
}

// Sub menu
.show-sub-menu {
  position: fixed;
  background-color: #fff;
  box-shadow: 0 0 4px #d3d3d3;
  transform: translateX(-50%);
  padding: 7px;
  border-radius: 7px;
  left: 50%;
  top: 4rem;
  transition: all 0.3s ease;
  z-index: 100;
  display: flex;
  gap: 2rem;
  ul {
    background-color: #e3e8f4;
    list-style: none;
    padding: 1rem 10px;
    border-radius: calc(7px + 7px);
    min-width: 200px;
    li {
      padding: 10px;
      margin-bottom: 6px;
      color: #243363;
      font-weight: bold;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 3px;
      &:hover {
        background-color: #fff;
        border-radius: 7px;
        // scale: 1.03;
      }
    }
  }
  // &::before {
  //   content: "";
  //   display: block;
  //   width: 0;
  //   height: 0;
  //   border-left: 5px solid #fff;
  //   border-right: 5px solid #fff;
  //   border-bottom: 5px solid #0762A9;
  //   position: absolute;
  //   top: -5px;
  //   left: 50%;
  //   transform: translateX(-50%);
  //   z-index: 10;
  // }
}
.hide-sub-menu {
  display: none;
}

//sidebar
.sidebar {
  width: 320px;
  background-color: #fff;
  position: fixed;
  z-index: 1000;
  right: 0;
  height: 100vh;
  padding: 10px;
  display: none;
  transform: translateX(100%);
  transition: all 0.3s ease;
  border-top: 3px solid #ff7500;
  @include tablet {
    display: block;
  }
  @include mobile {
    display: block;
  }
  ul {
    li {
      list-style: none;
      border-bottom: 2px solid #ebebeb;
      padding: 13px 10px;
      color: #243363;
      display: flex;
      align-items: center;
      justify-content: space-between;
      a {
        text-decoration: none;
        color: #243363;
        display: block;
      }
    }
    ol{
      padding-left: 1rem;
    }
  }
}
.nav-overlay {
  position: fixed;
  display: none;
  @include mobile {
    top: 5rem;
    display: block;
  }
  @include tablet {
    top: 5rem;
    display: block;
  }
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba($color: black, $alpha: 0.7);
  z-index: 999;
}
.show-sidebar {
  transform: translateX(0) !important;
  transition: all 0.3s ease;
}
